.col-md-6
  .panel.panel-default
    .panel-heading Artifacts
    .panel-body 
      %p Artifacts are single-page blogs which can be notes, crib sheets, sketch-notes or whatever you like - just keep 'me short, got it?
      = link_to 'Create Artifact', new_user_artifact_path(current_user), class: 'btn btn-primary pull-right'
.col-md-6
  .panel.panel-default
    .panel-heading Collections
    .panel-body 
      %p Collections are groups of related artifacts. Your artifacts can appears in more than one collection, and you can include artifictrs from other users in your collections too!
      .btn.btn-primary.pull-right Create Collection
