.user-banner
  .container
    .row
      .col-md-6
        .curator curator
        .curator-name= link_to user.name, short_user_path(user)
      .col-md-6
        .links.pull-right
          = link_to 'Artifacts', short_user_artifacts_path(user)
          = link_to 'Collections', short_user_collections_path(user)
          = link_to 'Topics', short_user_tags_path(user)
