.user-banner
  .container
    .row
      .col-md-6
        .curator curator
        .curator-name= link_to user.name, user_path(user)
      .col-md-6
        .links.pull-right
          = link_to 'Artifacts', user_artifacts_path(user)
          = link_to 'Collections', user_collections_path(user)
          = link_to 'Topics', '#'
