= render partial: 'banner', locals: { user: @user }
.container
  .row
    - puts @user.inspect
    = #render 'add_content' if can? :update, @user
    = render 'add_content' if signed_in? && current_user.id == @user.id
