.container
  .row
    .col-md-12
      %h1 Artifacts

  .row
    - @artifacts.each do |artifact| 
      .col-md-4
        .well.well-sm.artifact-thumb
          = link_to artifact.name, edit_user_artifact_path(current_user, artifact)
          %hr
          %p Collections: 3
          %p 
            Tags: 
            %span.label.label-info rails-5
            %span.label.label-info ruby

