.container
  .row
    %h3 Create Artifact
    = bootstrap_form_for [:user, @artifact] do |f|
      = f.text_field :name
      = f.cktext_area :content
      = f.submit 'Save', class: 'btn btn-primary'



